* {
    font-family: 'Arial', sans-serif;
}

body {
    background: red; /* For browsers that do not support gradients */
    background: -webkit-gradient(linear, left top, left bottom, from(red), to(#293f50));
    background: -o-linear-gradient(red, #293f50); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(red, #293f50); /* For Firefox 3.6 to 15 */
    background: linear-gradient(red, #293f50); /* Standard syntax */
    background-repeat: no-repeat;
    min-height: 700px;
}

h1, body a {
    font-family: 'Arial', cursive;
    text-align: center;
    color: white;
}

form input {
    font-family: 'Arial, cursive;
}

h2, form label {
    font-family: 'Arial', cursive;
    color: black;
}

div.view {
    border: solid black 2px;
    background-color: white;
    padding: 10px;
    font-family: 'Arial', cursive;
    min-height: 400px;
}

.button_holder, div.view a {
    text-align: center;
    color: black;
}