
<h1>Add to your Beer list</h1>

<div class="view">
  <form action="/beer" method="post">
    <label>Beer List Item:</label>
    <input type="text" name="beer[name]">
    <br></br>

    <label>Description of Beer:</label>
    <input type="text" name="beer[description]">
    <br></br>

    <label>ABV of Beer:</label>
    <input type="text" name="beer[abv]">
    <br></br>

    <label>Review: </label>
    <input type="text" name="review[content]">
    <br></br>

    <% if Category.all.size > 0 %>
      <label>Choose category:</label>
      <% Category.all.each do |category| %>
        <label><%=category.name%></label>
        <input type="radio" name="beer[category_id]" id="<%=category.id%>" value="<%=category.id%>"></input>
      <%end%>
      <br></br>
      OR
    <% end %>
    <label>Add a new category:</label>
    <input type="text" name="category[name]"></input>
    <br></br>

    <div class="button_holder">
      <input type="submit" value="Add to Beer Tracker">
    </div>
  </form>
</div>