<div class="view">
  <form action="/reviews" method="post">
    <label>Reviews:</label>
    <input type="text" name="review[content]" value="review">
    <br></br>
    <div class="button_holder">
      <input type="submit" value="Add to Beer Tracker">
    </div>
  </form>
</div>/